.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    background-color:none;
    margin-top:2rem;
    
  }
  
  .scroll-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 24px;
    color: black;
    will-change: transform;
    width: 200rem;
  }
  